server: 
 port: 8094
spring: 
 datasource: 
  name: mysql_test
  type: com.alibaba.druid.pool.DruidDataSource
  druid: 
   driver-class-name: com.mysql.jdbc.Driver
   url: jdbc:mysql://localhost:3306/shopping?useUnicode=true&characterEncoding=utf-8
   username: root
   password: 215215
   initial-size: 10
   min-idle: 1
   max-active: 20
 jackson:  
  date-format: yyyy-MM-dd HH:mm:ss
  time-zone: GMT+8
 servlet: 
  multipart: 
   enabled: true
   max-file-size: 30MB
   max-request-size: 100MB
mybatis: 
 mapper-location: classpath*:com/neusoft/neuedu/dao/*.xml
 type-aliases-package: com.neusoft.neuedu.entity
pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql
  returnPageInfo: check